<div class="jumbotron" style="padding: 45px 0px">
  <h2 class="text-center" style="color:#f00; font-weight: bold">To Do List</h2>
</div>

<div class="input-group">
  <input type="text" class="form-control" #itemTitle>
  <div class="input-group-addon hover-cursor" (click)="onAdd(itemTitle)">
    <i class="fa fa-lg fa-plus-circle fa -2x"></i>
  </div>
</div>

<div style="margin:5px 0px;">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of toDoListArray">
      <span class="hover-cursor" [class.text-success]="item.isChecked" (click)="alertCheck(item.$key,item.isChecked)">
        <i class="fa fa-lg" [ngClass]="item.isChecked?'fa-check-circle-o':'fa-circle-thin'"></i>
      </span>
      {{item.title}}
      <span class="hover-cursor text-denger pull-right" (click)="onDelete(item.$key)">
        <i class="fa fa-lg fa-trash-o"></i> 
      </span>
    </li>
  </ul>
</div>